* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  background-color: #2f4f4f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
p,
ul,
pre {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

pre {
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  width: clamp(256px, 85%, 100%);
}

.header {
  background-color: #ffffff;
}

.header__container {
  padding: 1rem;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-template-rows: auto;
  gap: 15px;
}

.section {
  border-radius: 20px;
  background-color: #ffffff;
}

.subtitle {
  margin-bottom: 1rem;
}

.content-wrap {
  padding: 1rem;
}

.profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .profile__content {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.profile__avatar {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

@media (min-width: 480px) {
  .profile__avatar {
    width: 30%;
  }
}

.profile__title {
  margin-bottom: 1rem;
}

.skills__list,
.experience__list,
.experience__description,
.education__list,
.languages__list {
  padding-left: 1rem;
  list-style: disc;
}

.code__text {
  background-color: #eee;
  font-family: courier, monospace;
}

.experience__description {
  list-style: circle;
}

.footer {
  background-color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.footer__link {
  display: inline-flex;
  justify-content: center;
}

.footer__icon {
  width: 50%;
  height: auto;
}
